$orange:#f08300;
$orange-dark:darken($orange,30);

$black:#000;

$gray:#3e3e3e;
$gray-dark:darken($gray,20);
$gray-light:lighten($gray,30);
$gray-ultralight:lighten($gray,70);

$white:#fff;

$green:#94c2a5;