RewriteEngine on
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# This will ensure  /services/XXX gets redirected to /services/index.php?service=XXX
# useful to have SSR pages
RewriteRule ^services/?([A-Za-z0-9-]+)/?$ services/index.php?service=$1 [NC,QSA,L]